version: '3.9'

services:
  backend:
    image: node:14
    working_dir: /usr/src/app
    volumes:
      - ./backend:/usr/src/app
    ports:
      - '5000:5000'
    environment:
      - DATABASE_URL=postgres://user:password@db:5432/mydatabase
    depends_on:
      - db
      - redis
    command: npm start

  frontend:
    image: node:14
    working_dir: /usr/src/app
    volumes:
      - ./frontend:/usr/src/app
    ports:
      - '3000:3000'
    command: npm start

  db:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest

volumes:
  postgres_data: